html {
  font-family: Geist, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  line-height: 1.4 !important;
  text-rendering: optimizelegibility;
}

body {
  font-size: 16px;
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
}
